@import './variables.scss';

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: fit-content;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  font-family: $font-sans;
}

*,
:after,
:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: $desktop;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
