$color-blue: #66c7f4;
$color-rich: #093a3e;
$color-black: #001011;
$color-true-black: #000000;
$color-light-black: #1a1a1a;
$color-true-white: #ffffff;
$color-white: #f2f4f3;
$color-dirty: #d9d9d9;
$color-grey: #d7cdcc;
$color-dark-grey: #838282;
$color-red: #d33f49;

$font-sans: 'Montserrat', sans-serif;

// Responsiveness
// These numbers are divisible by both 12 and 16
$gap: 64px !default;
$tablet: 769px !default;
$desktop: 960px + (2 * $gap) !default;
$widescreen: 1152px + (2 * $gap) !default;
$fullhd: 1344px + (2 * $gap) !default;
